In [435]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
plt.rcParams['font.family'] = ['Arial Unicode MS', 'Microsoft Yahei', 'SimHei', 'sans-serif']

In [436]:
shop = pd.read_excel('data/Homework.xlsx',None)
shop

OrderedDict([('Question', Empty DataFrame
              Columns: [1.各省份2017全年进货金额(全部产品)Top1的医院；]
              Index: []),
             ('Sales',      InstitutionCode    SKU  Quantity Unit  SalesDate
              0           F1030839   23.0      14.0    支 2017-09-08
              1              F6399   44.0      21.0    支 2017-09-07
              2           F1038675   44.0      14.0    支 2017-09-18
              3              F6020    3.0      16.0    支 2017-09-25
              4           F1020176    7.0     250.0    支 2017-09-06
              5           F1033446    7.0      50.0    支 2017-09-28
              6           F1051685    2.0      14.0    支 2017-09-08
              7              F6302    7.0     250.0    支 2017-09-13
              8           F1039650   43.0      48.0    支 2017-09-11
              9             F12260   13.0      36.0    支 2017-09-25
              10             F3519   43.0      12.0    支 2017-09-08
              11          F1032101   10.0     102.0    支 2017-09-28
              12            F10154   12.0      11.0    支 2017-09-24
              13          F1029832   41.0     124.0    支 2017-09-09
              14             F3770  128.0     124.0    支 2017-09-02
              15             F9178    7.0      12.0    支 2017-09-01
              16          F1030839    7.0      25.0    支 2017-09-14
              17             F6399    2.0      18.0    支 2017-09-22
              18          F1038675    7.0      37.0    支 2017-09-06
              19             F6020    7.0      25.0    支 2017-09-04
              20          F1020176   41.0      25.0    支 2017-09-27
              21          F1033446   41.0      12.0    支 2017-09-14
              22          F1051685   41.0      37.0    支 2017-09-12
              23             F6302   41.0      25.0    支 2017-09-17
              24          F1039650   10.0     102.0    支 2017-09-14
              25            F12260   10.0     153.0    支 2017-09-23
              26             F3519    5.0       1.0    支 2017-09-28
              27          F1032101    5.0       1.0    支 2017-09-03
              28            F10154    5.0       1.0    支 2017-09-23
              29          F1029832   23.0       1.0    支 2017-09-15
              ...              ...    ...       ...  ...        ...
              2719        F1020176   10.0     109.0    支 2016-10-28
              2720        F1033446   10.0      27.0    支 2016-10-24
              2721        F1051685   10.0     246.0    支 2016-10-16
              2722           F6302   10.0     274.0    支 2016-10-10
              2723        F1039650   41.0      33.0    支 2016-10-18
              2724          F12260    7.0      33.0    支 2016-10-17
              2725           F3519    7.0      33.0    支 2016-10-03
              2726        F1032101   43.0      80.0    支 2016-10-20
              2727          F10154    7.0      50.0    支 2016-10-05
              2728        F1029832   11.0      66.0    支 2016-10-24
              2729           F3770    9.0      13.0    支 2016-10-13
              2730           F9178    6.0      15.0    支 2016-10-10
              2731        F1030839   41.0      99.0    支 2016-10-10
              2732           F6399  128.0       1.0    支 2016-10-10
              2733        F1038675  128.0      -1.0    支 2016-10-15
              2734           F6020   29.0    2199.0    支 2016-10-09
              2735        F1051685    3.0     213.0    支 2016-10-25
              2736           F6302   44.0    1220.0    支 2016-10-07
              2737        F1039650   44.0      73.0    支 2016-10-20
              2738          F12260   23.0      19.0    支 2016-10-04
              2739           F3519   44.0     287.0    支 2016-10-13
              2740        F1032101   12.0      29.0    支 2016-10-02
              2741          F10154    3.0     230.0    支 2016-10-07
              2742        F1029832   23.0    2109.0    支 2016-10-21
              2743           F3770    7.0      50.0    支 2016-10-05
              2744           F9178    7.0      33.0    支 2016-10-19
              2745        F1030839   43.0    1050.0    支 2016-10-27
              2746        F1029832   11.0      66.0    支 2016-10-19
              2747           F3770    9.0      13.0    支 2016-10-21
              2748           F9178    6.0      15.0    支 2016-10-21

              [2749 rows x 5 columns]),
             ('Institution',
                 InstitutionCode       InstitutionName InstitutionType Province  City
              0            F3770          河南中医学院第一附属医院              医院      河南省   郑州市
              1            F9178           河南商丘市第一人民医院              医院      河南省   商丘市
              2         F1032101              杭州江城骨科医院              医院      浙江省   杭州市
              3         F1030839       广东省广州市海珠区第一人民医院              医院      广东省   广州市
              4            F6399             大连市沙河口区医院              医院      NaN   大连市
              5         F1038675             慈溪市第二人民医院              医院      浙江省   宁波市
              6           F10154          广东国际旅行卫生保健中心        基层医疗卫生机构      广东省   广州市
              7            F6020  老百姓大药房(江苏)有限公司南京常府街店              药房      江苏省   南京市
              8         F1020176             交通部北京交通医院              医院      北京市   北京市
              9         F1033446               北京市协和医院              医院      北京市   北京市
              10        F1051685             建德市第三人民医院              医院      浙江省   杭州市
              11        F1029832       北京朝阳中西医结合急诊抢救中心              医院      北京市   北京市
              12           F6302              泰州第四人民医院              医院      江苏省   泰州市
              13        F1039650             辽阳市第四人民医院              医院      辽宁省   辽阳市
              14          F12260         中国人民解放军第一五九医院              医院      河南省  驻马店市
              15           F3519               广东省人民医院              医院      广东省   广州市),
             ('Product',     SKU            Product
              0    23             Plavix
              1    44    Lantus Solostar
              2     3        Aprovel 150
              3     7     Co-Aprovel 150
              4     2           Amaryl 2
              5    43      Plavix 28tabs
              6    13       Depakine Tab
              7    10      Cordarone Tab
              8    12  Depakine Solution
              9    41    Lantus Catridge
              10  128             Nesina
              11    5         Clexane 40
              12    6         Clexane 60
              13   11       Depakine Inj
              14    9      Cordarone Inj
              15   30        Stilnox 7's
              16   29       Stilnox 20's),
             ('Price',     SKU Unit  Price EffectiveDate
              0    23    支   9.77    2016-10-01
              1    44    支  26.34    2016-10-01
              2     3    支  59.89    2016-10-01
              3     7    支   7.80    2016-10-01
              4     2    支  80.47    2016-10-01
              5    43    支  78.14    2016-10-01
              6    13    支  82.20    2016-10-01
              7    10    支  22.57    2016-10-01
              8    12    支  88.64    2016-10-01
              9    41    支  37.53    2016-10-01
              10  128    支  78.61    2016-10-01
              11    5    支  39.86    2016-10-01
              12    6    支  96.18    2016-10-01
              13   11    支  14.48    2016-10-01
              14    9    支   9.69    2016-10-01
              15   30    支  72.43    2016-10-01
              16   29    支   5.42    2016-10-01
              17    2    支  81.27    2017-02-01
              18   43    支  97.14    2017-02-01
              19   30    支  14.62    2017-03-01
              20  128    支  39.14    2017-03-01
              21    5    支  20.58    2017-03-01
              22   12    支  40.33    2017-03-01
              23   23    支   9.87    2017-04-01
              24   44    支  43.84    2017-04-01
              25    3    支  11.64    2017-04-01
              26    6    支  67.74    2017-04-01
              27   10    支  21.50    2017-04-01
              28   29    支  89.53    2017-07-01
              29   29    支  88.38    2017-07-01
              30    2    支  81.00    2017-08-01
              31    7    支  97.65    2017-08-01
              32    9    支  44.18    2017-08-01
              33   41    支  52.08    2017-08-01
              34   13    支  36.84    2017-08-01
              35   11    支  63.67    2017-08-01)])

In [437]:
xiaoshou = shop['Sales']
xiaoshou.head()

  InstitutionCode   SKU  Quantity Unit  SalesDate
0        F1030839  23.0      14.0    支 2017-09-08
1           F6399  44.0      21.0    支 2017-09-07
2        F1038675  44.0      14.0    支 2017-09-18
3           F6020   3.0      16.0    支 2017-09-25
4        F1020176   7.0     250.0    支 2017-09-06

In [438]:
jigou = shop['Institution']
jigou.head()

  InstitutionCode  InstitutionName InstitutionType Province City
0           F3770     河南中医学院第一附属医院              医院      河南省  郑州市
1           F9178      河南商丘市第一人民医院              医院      河南省  商丘市
2        F1032101         杭州江城骨科医院              医院      浙江省  杭州市
3        F1030839  广东省广州市海珠区第一人民医院              医院      广东省  广州市
4           F6399        大连市沙河口区医院              医院      NaN  大连市

In [439]:
chanpin = shop['Product']
chanpin.head()

   SKU          Product
0   23           Plavix
1   44  Lantus Solostar
2    3      Aprovel 150
3    7   Co-Aprovel 150
4    2         Amaryl 2

In [440]:
jiage = shop['Price']
jiage.head()

   SKU Unit  Price EffectiveDate
0   23    支   9.77    2016-10-01
1   44    支  26.34    2016-10-01
2    3    支  59.89    2016-10-01
3    7    支   7.80    2016-10-01
4    2    支  80.47    2016-10-01

In [441]:
xiaoshou.info()
jigou.info()
chanpin.info()
jiage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2749 entries, 0 to 2748
Data columns (total 5 columns):
InstitutionCode    2748 non-null object
SKU                2748 non-null float64
Quantity           2748 non-null float64
Unit               2748 non-null object
SalesDate          2748 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 107.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 5 columns):
InstitutionCode    16 non-null object
InstitutionName    16 non-null object
InstitutionType    16 non-null object
Province           15 non-null object
City               16 non-null object
dtypes: object(5)
memory usage: 720.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
SKU        17 non-null int64
Product    17 non-null object
dtypes: int64(1), object(1)
memory usage: 352.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
SKU              36 non-null int64
Unit             36 non-null object
Price            36 non-null float64
EffectiveDate    36 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 1.2+ KB

## 数量取绝对值

In [442]:
xiaoshou['Quantity'] = abs(xiaoshou['Quantity'])

## 日期取2017年

In [443]:
xiaoshou = xiaoshou[xiaoshou['SalesDate'] >= pd.to_datetime('20170101')]
xiaoshou

     InstitutionCode    SKU  Quantity Unit  SalesDate
0           F1030839   23.0      14.0    支 2017-09-08
1              F6399   44.0      21.0    支 2017-09-07
2           F1038675   44.0      14.0    支 2017-09-18
3              F6020    3.0      16.0    支 2017-09-25
4           F1020176    7.0     250.0    支 2017-09-06
5           F1033446    7.0      50.0    支 2017-09-28
6           F1051685    2.0      14.0    支 2017-09-08
7              F6302    7.0     250.0    支 2017-09-13
8           F1039650   43.0      48.0    支 2017-09-11
9             F12260   13.0      36.0    支 2017-09-25
10             F3519   43.0      12.0    支 2017-09-08
11          F1032101   10.0     102.0    支 2017-09-28
12            F10154   12.0      11.0    支 2017-09-24
13          F1029832   41.0     124.0    支 2017-09-09
14             F3770  128.0     124.0    支 2017-09-02
15             F9178    7.0      12.0    支 2017-09-01
16          F1030839    7.0      25.0    支 2017-09-14
17             F6399    2.0      18.0    支 2017-09-22
18          F1038675    7.0      37.0    支 2017-09-06
19             F6020    7.0      25.0    支 2017-09-04
20          F1020176   41.0      25.0    支 2017-09-27
21          F1033446   41.0      12.0    支 2017-09-14
22          F1051685   41.0      37.0    支 2017-09-12
23             F6302   41.0      25.0    支 2017-09-17
24          F1039650   10.0     102.0    支 2017-09-14
25            F12260   10.0     153.0    支 2017-09-23
26             F3519    5.0       1.0    支 2017-09-28
27          F1032101    5.0       1.0    支 2017-09-03
28            F10154    5.0       1.0    支 2017-09-23
29          F1029832   23.0       1.0    支 2017-09-15
...              ...    ...       ...  ...        ...
1825        F1020176   44.0     150.0    支 2017-01-17
1826        F1033446    3.0     237.0    支 2017-01-08
1827        F1051685    3.0     237.0    支 2017-01-06
1828           F6302    7.0      50.0    支 2017-01-12
1829        F1039650   10.0      64.0    支 2017-01-26
1830          F12260    5.0       9.0    支 2017-01-02
1831           F3519    7.0      33.0    支 2017-01-17
1832        F1032101    2.0       7.0    支 2017-01-07
1833          F10154   41.0      50.0    支 2017-01-07
1834        F1029832    7.0      50.0    支 2017-01-28
1835           F3770    9.0      26.0    支 2017-01-06
1836           F9178    5.0       2.0    支 2017-01-09
1837        F1030839   41.0      33.0    支 2017-01-23
1838           F6399   43.0     128.0    支 2017-01-11
1839        F1038675   10.0      77.0    支 2017-01-18
1840           F6020   44.0      14.0    支 2017-01-14
1841        F1020176    7.0     116.0    支 2017-01-25
1842        F1033446    2.0       7.0    支 2017-01-14
1843        F1051685   43.0      64.0    支 2017-01-23
1844           F6302   44.0      21.0    支 2017-01-11
1845        F1039650    2.0      82.0    支 2017-01-16
1846          F12260   43.0     256.0    支 2017-01-03
1847           F3519    2.0       8.0    支 2017-01-06
1848        F1032101    5.0       2.0    支 2017-01-15
1849          F10154   43.0       1.0    支 2017-01-13
1850        F1029832   10.0      52.0    支 2017-01-24
1851           F3770    2.0      15.0    支 2017-01-27
1852           F9178    3.0      50.0    支 2017-01-08
1853        F1030839   41.0     371.0    支 2017-01-14
1854           F6399   10.0     342.0    支 2017-01-08

[1855 rows x 5 columns]

## 填补缺失值

In [444]:
jigou.fillna(0)

   InstitutionCode       InstitutionName InstitutionType Province  City
0            F3770          河南中医学院第一附属医院              医院      河南省   郑州市
1            F9178           河南商丘市第一人民医院              医院      河南省   商丘市
2         F1032101              杭州江城骨科医院              医院      浙江省   杭州市
3         F1030839       广东省广州市海珠区第一人民医院              医院      广东省   广州市
4            F6399             大连市沙河口区医院              医院        0   大连市
5         F1038675             慈溪市第二人民医院              医院      浙江省   宁波市
6           F10154          广东国际旅行卫生保健中心        基层医疗卫生机构      广东省   广州市
7            F6020  老百姓大药房(江苏)有限公司南京常府街店              药房      江苏省   南京市
8         F1020176             交通部北京交通医院              医院      北京市   北京市
9         F1033446               北京市协和医院              医院      北京市   北京市
10        F1051685             建德市第三人民医院              医院      浙江省   杭州市
11        F1029832       北京朝阳中西医结合急诊抢救中心              医院      北京市   北京市
12           F6302              泰州第四人民医院              医院      江苏省   泰州市
13        F1039650             辽阳市第四人民医院              医院      辽宁省   辽阳市
14          F12260         中国人民解放军第一五九医院              医院      河南省  驻马店市
15           F3519               广东省人民医院              医院      广东省   广州市

In [445]:
jigou.loc[4,'Province'] = '辽宁省'

In [446]:
jigou

   InstitutionCode       InstitutionName InstitutionType Province  City
0            F3770          河南中医学院第一附属医院              医院      河南省   郑州市
1            F9178           河南商丘市第一人民医院              医院      河南省   商丘市
2         F1032101              杭州江城骨科医院              医院      浙江省   杭州市
3         F1030839       广东省广州市海珠区第一人民医院              医院      广东省   广州市
4            F6399             大连市沙河口区医院              医院      辽宁省   大连市
5         F1038675             慈溪市第二人民医院              医院      浙江省   宁波市
6           F10154          广东国际旅行卫生保健中心        基层医疗卫生机构      广东省   广州市
7            F6020  老百姓大药房(江苏)有限公司南京常府街店              药房      江苏省   南京市
8         F1020176             交通部北京交通医院              医院      北京市   北京市
9         F1033446               北京市协和医院              医院      北京市   北京市
10        F1051685             建德市第三人民医院              医院      浙江省   杭州市
11        F1029832       北京朝阳中西医结合急诊抢救中心              医院      北京市   北京市
12           F6302              泰州第四人民医院              医院      江苏省   泰州市
13        F1039650             辽阳市第四人民医院              医院      辽宁省   辽阳市
14          F12260         中国人民解放军第一五九医院              医院      河南省  驻马店市
15           F3519               广东省人民医院              医院      广东省   广州市

In [447]:
_ = xiaoshou.groupby(['InstitutionCode','SKU']).size().to_frame().rename(columns={0:'销量'})
_.head()

                     销量
InstitutionCode SKU
F10154          2.0   3
                3.0   3
                5.0   5
                6.0   2
                7.0  35

In [448]:
_ = _.reset_index('SKU')
_

                  SKU  销量
InstitutionCode
F10154            2.0   3
F10154            3.0   3
F10154            5.0   5
F10154            6.0   2
F10154            7.0  35
F10154            9.0  11
F10154           10.0  12
F10154           12.0   2
F10154           13.0   2
F10154           23.0   5
F10154           29.0   3
F10154           30.0   2
F10154           41.0  14
F10154           43.0   9
F10154           44.0   9
F1020176          2.0  13
F1020176          3.0   5
F1020176          5.0   7
F1020176          6.0   3
F1020176          7.0  21
F1020176          9.0   6
F1020176         10.0   9
F1020176         11.0   1
F1020176         12.0   1
F1020176         13.0   1
F1020176         23.0   1
F1020176         29.0   4
F1020176         30.0   2
F1020176         41.0  18
F1020176         43.0  14
...               ...  ..
F6302            13.0   1
F6302            41.0   2
F6302            43.0   3
F6302            44.0   3
F6399             2.0  13
F6399             3.0   5
F6399             5.0   1
F6399             6.0   1
F6399             7.0  23
F6399             9.0  11
F6399            10.0  17
F6399            11.0   2
F6399            12.0   1
F6399            23.0   2
F6399            41.0  17
F6399            43.0  11
F6399            44.0  12
F9178             2.0   8
F9178             3.0   9
F9178             5.0   8
F9178             7.0  25
F9178             9.0   6
F9178            10.0  10
F9178            12.0   1
F9178            13.0   1
F9178            23.0   4
F9178            29.0   3
F9178            41.0  15
F9178            43.0  10
F9178            44.0   8

[242 rows x 2 columns]

In [449]:
_['SKU']=_['SKU'].astype(np.int)

In [450]:
_['总额'] = 0
_

                 SKU  销量  总额
InstitutionCode
F10154             2   3   0
F10154             3   3   0
F10154             5   5   0
F10154             6   2   0
F10154             7  35   0
F10154             9  11   0
F10154            10  12   0
F10154            12   2   0
F10154            13   2   0
F10154            23   5   0
F10154            29   3   0
F10154            30   2   0
F10154            41  14   0
F10154            43   9   0
F10154            44   9   0
F1020176           2  13   0
F1020176           3   5   0
F1020176           5   7   0
F1020176           6   3   0
F1020176           7  21   0
F1020176           9   6   0
F1020176          10   9   0
F1020176          11   1   0
F1020176          12   1   0
F1020176          13   1   0
F1020176          23   1   0
F1020176          29   4   0
F1020176          30   2   0
F1020176          41  18   0
F1020176          43  14   0
...              ...  ..  ..
F6302             13   1   0
F6302             41   2   0
F6302             43   3   0
F6302             44   3   0
F6399              2  13   0
F6399              3   5   0
F6399              5   1   0
F6399              6   1   0
F6399              7  23   0
F6399              9  11   0
F6399             10  17   0
F6399             11   2   0
F6399             12   1   0
F6399             23   2   0
F6399             41  17   0
F6399             43  11   0
F6399             44  12   0
F9178              2   8   0
F9178              3   9   0
F9178              5   8   0
F9178              7  25   0
F9178              9   6   0
F9178             10  10   0
F9178             12   1   0
F9178             13   1   0
F9178             23   4   0
F9178             29   3   0
F9178             41  15   0
F9178             43  10   0
F9178             44   8   0

[242 rows x 3 columns]

In [451]:
def aa(tt):
    for index,row in jiage.iterrows():
        for i,j in _.iterrows():
            if j['SKU'] == row['SKU']:
                _.loc[i,'总额'] =  row['Price'] * _.loc[i,'销量']
                
    return tt
_ = _.apply(func=aa,axis=0)

In [452]:
_.head()

                 SKU  销量       总额
InstitutionCode
F10154             2   3   110.52
F10154             3   3   110.52
F10154             5   5   184.20
F10154             6   2    73.68
F10154             7  35  1289.40

## 计算出进货总额

In [453]:
_ = _.groupby(['InstitutionCode']).sum().sort_values('总额',ascending=False)
_

                 SKU   销量       总额
InstitutionCode
F1020176         288  118  7513.06
F12260           416  117  7449.39
F6020            275  116  7385.72
F6399            216  116  7385.72
F1039650         374  116  7385.72
F1033446         391  115  7322.05
F1038675         275  115  7322.05
F1032101         288  114  7258.38
F1051685         216  117  6093.36
F3519            405  118  4347.12
F1030839         369  117  4310.28
F3770            393  117  4310.28
F10154           277  117  4310.28
F1029832         375  116  4273.44
F9178            241  108  3978.72
F6302            229   97  3573.48
F6302            172   21   773.64

## 合并到一张表格

In [454]:
jigou_index = jigou.set_index('InstitutionCode')
_ = _.join(jigou_index['Province'],on='InstitutionCode')

In [455]:
_

                 SKU   销量       总额 Province
InstitutionCode
F1020176         288  118  7513.06      北京市
F12260           416  117  7449.39      河南省
F6020            275  116  7385.72      江苏省
F6399            216  116  7385.72      辽宁省
F1039650         374  116  7385.72      辽宁省
F1033446         391  115  7322.05      北京市
F1038675         275  115  7322.05      浙江省
F1032101         288  114  7258.38      浙江省
F1051685         216  117  6093.36      浙江省
F3519            405  118  4347.12      广东省
F1030839         369  117  4310.28      广东省
F3770            393  117  4310.28      河南省
F10154           277  117  4310.28      广东省
F1029832         375  116  4273.44      北京市
F9178            241  108  3978.72      河南省
F6302            229   97  3573.48      江苏省
F6302            172   21   773.64      NaN

### 无F6306，删除

In [456]:
_ = _.drop(16)

KeyError: '[16] not found in axis'

In [457]:
_

                 SKU   销量       总额 Province
InstitutionCode
F1020176         288  118  7513.06      北京市
F12260           416  117  7449.39      河南省
F6020            275  116  7385.72      江苏省
F6399            216  116  7385.72      辽宁省
F1039650         374  116  7385.72      辽宁省
F1033446         391  115  7322.05      北京市
F1038675         275  115  7322.05      浙江省
F1032101         288  114  7258.38      浙江省
F1051685         216  117  6093.36      浙江省
F3519            405  118  4347.12      广东省
F1030839         369  117  4310.28      广东省
F3770            393  117  4310.28      河南省
F10154           277  117  4310.28      广东省
F1029832         375  116  4273.44      北京市
F9178            241  108  3978.72      河南省
F6302            229   97  3573.48      江苏省
F6302            172   21   773.64      NaN

## 存为新的Excel

In [459]:
writer = pd.ExcelWriter('new_data/Homework2.xlsx')

_.to_excel(
    writer,
    '各省医院进货金额排行',
    index = True
    
)
xiaoshou.to_excel(
    writer, # 写入数据
    'Sales', # 工作表标签
    index=False # 不存入行索引
)

jigou.to_excel(
    writer, # 写入数据
    'Institution', # 工作表标签
    index=False # 不存入行索引
)

chanpin.to_excel(
    writer, # 写入数据
    'Product', # 工作表标签
    index=False # 不存入行索引
)
jiage.to_excel(
    writer, # 写入数据
    'Price', # 工作表标签
    index=False # 不存入行索引
)

writer.save()